<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/logout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>

    <!-- page 01 -->
    <div class="cc">
        <div class="cc1 n">
            <div class="cc11 n1">
                <div class="n12">
                    <h1 style="font-size: 60px;">E-Vote</h1>
                </div>
            </div>
            <div class="cc11 n2">
                <div class="n11">
                    <a href="{% url 'index' %}" style="font-size: 30px; text-decoration: none; color: black;"><i
                            class="bi bi-house"></i> Home</a>
                </div>
            </div>
            <div class="cc11 n3">
                <div class="n11">
                    <a href="{% url 'vote' %}" style="font-size: 30px; text-decoration: none; color: black;"><i
                            class="bi bi-check2-square"></i> Vote</a>
                </div>
            </div>
            <div class="cc11 n4">
                <div class="n11">
                    <a href="{% url 'result'}" style="font-size: 30px; text-decoration: none; color: black;"><i
                            class="bi bi-bar-chart"></i> Result</a>
                </div>
            </div>
            <div class="cc11 n5">
                <div class="n11" style="border-bottom: 2px solid red">
                    <a href="{% url 'profile'}" style="font-size: 30px; text-decoration: none; color: black;"><i
                            class="bi bi-person-fill"></i> Profile</a>
                </div>
            </div>
            <div class="cc11 n6">
                <div class="n12">
                </div>
            </div>
            <div class="cc11 n7">
                <div class="n11">
                    <a href="#"><i class="bi bi-box-arrow-right" style="font-size: 30px;"></i> Log out</a>
                </div>
            </div>
        </div>
        <div class="cc1 r">
            <div class="r1 t">
                <div class="r11">
                    <div class="r111">
                        <h1>Log Out</h1>
                    </div>
                </div>
                <div class="r11">
                    <div class="r112">
                        <i class="bi bi-bell" style=font-size:40px;></i>
                    </div>
                </div>
                <div class="r11">
                    <div class="r113"></div>
                </div>
            </div>
            <div class="r1 b">
                <div class="b1">
                    <div class="b11">
                        <div class="b111">
                            <i class="bi bi-check2-circle" style="font-size: 70px; color: green;"></i>
                        </div>
                        <div class="b111">
                            Log Out
                        </div>
                        <div class="b111">
                            Are you want to logout?
                        </div>
                        <div class="b111" id="note">
                            Note-> user automatically logout after 24 hours
                        </div>
                        <div class="b111">
                        <div class="lc">
                            <div class="b1112">
                                <a href="{% url 'index' %}"><input type="button" value="Go Back"></a>
                            </div>
                            <div class="b1112">
                                <a href="{% url 'login' %}"><input type="button" value="Confirm Vote"></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>

</html>